// 侧边栏导航
$sideNavBg: #202020;
$nameColor: #ccc;
$tipColor: #666;
$menuFontColor: #999;
$menuFontHover: #fff;
$menuBg: #2479cc;
// 头部导航
$headNavBg: #323436;
$headFontColor: #ccc;
// 文章
$articalTitleColor: #333;
